:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    --rpx: 100vw / 428;
}

body {
    margin: 0;
    font-family: Lato, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    color: white;
}

.globalHide {
    visibility: hidden;
}

a{
    text-decoration: none;
}

#app{
    display: flex;
    position: relative;
    width: 100vw;
    height:auto;
    background: linear-gradient(168.43deg, #031728 -10.68%, #3C113F 25.6%, #484A64 62.5%, #52757F 82.66%, #5A9C98 100.61%, #701856 112.31%);
}